body {
background-color:black
}

p {
color:white;
text-align:center;
}

h1 {
text-align:center;
color:red;
}

h2 {
text-align:center;
color:red;
}

h3 {
text-align:center;
color:red;
}